In [2]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans

In [5]:
data=pd.read_csv("career_pred.csv")

In [6]:
data

,sslc,hsc,cgpa,school_type,no_of_miniprojects,no_of_projects,coresub_skill,aptitude_skill,problemsolving_skill,programming_skill,...,technology_used,sympos_attend,sympos_won,extracurricular,learning_style,college_bench,clg_teachers_know,college_performence,college_skills,ROLE
0,2,3,2,3,1,1,1,1,2,4,...,1,3,1,2,2,4,3,4,5,Technical Support
1,3,1,2,2,2,1,1,3,2,4,...,2,3,2,3,2,5,3,3,4,Software Developer
2,3,4,2,2,1,1,1,2,3,3,...,1,4,3,1,4,3,3,3,4,UI/UX Designer
3,3,4,2,1,1,1,1,1,3,2,...,1,3,2,1,2,1,4,4,3,Technical Support
4,2,3,2,4,1,1,1,4,3,3,...,1,2,1,3,1,5,4,3,1,Data Analyst
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7520,3,2,1,2,1,1,2,2,3,3,...,1,4,2,2,1,4,4,3,3,NaN
7521,2,3,3,3,4,3,2,1,3,3,...,4,2,3,2,4,1,3,3,2,NaN
7522,3,2,1,2,1,1,1,2,2,3,...,1,3,1,1,3,5,3,3,4,NaN
7523,2,1,1,1,2,1,1,2,2,2,...,1,3,2,1,2,4,4,3,4,NaN
7524,2,2,2,3,2,1,1,1,2,3,...,1,4,1,1,3,5,3,3,5,NaN

In [11]:
data.dtypes

sslc                     int64
hsc                      int64
cgpa                     int64
school_type              int64
no_of_miniprojects       int64
no_of_projects           int64
coresub_skill            int64
aptitude_skill           int64
problemsolving_skill     int64
programming_skill        int64
abstractthink_skill      int64
design_skill             int64
first_computer           int64
first_program            int64
lab_programs             int64
ds_coding                int64
technology_used          int64
sympos_attend            int64
sympos_won               int64
extracurricular          int64
learning_style          object
college_bench            int64
clg_teachers_know        int64
college_performence      int64
college_skills           int64
ROLE                    object
dtype: object

In [12]:
def convert_to_int(remain_df, col_name):
    new_df = remain_df.copy()  # create a copy of the original dataframe
    new_df[col_name] = pd.to_numeric(new_df[col_name], errors='coerce').astype('Int64')  # convert the specified column to int64
    return new_df

df = convert_to_int(data, 'learning_style')
# print(df.dtypes)
new_df=df.drop("ROLE", axis=1)
new_df

,sslc,hsc,cgpa,school_type,no_of_miniprojects,no_of_projects,coresub_skill,aptitude_skill,problemsolving_skill,programming_skill,...,ds_coding,technology_used,sympos_attend,sympos_won,extracurricular,learning_style,college_bench,clg_teachers_know,college_performence,college_skills
0,2,3,2,3,1,1,1,1,2,4,...,1,1,3,1,2,2,4,3,4,5
1,3,1,2,2,2,1,1,3,2,4,...,2,2,3,2,3,2,5,3,3,4
2,3,4,2,2,1,1,1,2,3,3,...,1,1,4,3,1,4,3,3,3,4
3,3,4,2,1,1,1,1,1,3,2,...,2,1,3,2,1,2,1,4,4,3
4,2,3,2,4,1,1,1,4,3,3,...,2,1,2,1,3,1,5,4,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7520,3,2,1,2,1,1,2,2,3,3,...,4,1,4,2,2,1,4,4,3,3
7521,2,3,3,3,4,3,2,1,3,3,...,3,4,2,3,2,4,1,3,3,2
7522,3,2,1,2,1,1,1,2,2,3,...,2,1,3,1,1,3,5,3,3,4
7523,2,1,1,1,2,1,1,2,2,2,...,2,1,3,2,1,2,4,4,3,4
7524,2,2,2,3,2,1,1,1,2,3,...,1,1,4,1,1,3,5,3,3,5

In [9]:
df.dtypes

sslc                     int64
hsc                      int64
cgpa                     int64
school_type              int64
no_of_miniprojects       int64
no_of_projects           int64
coresub_skill            int64
aptitude_skill           int64
problemsolving_skill     int64
programming_skill        int64
abstractthink_skill      int64
design_skill             int64
first_computer           int64
first_program            int64
lab_programs             int64
ds_coding                int64
technology_used          int64
sympos_attend            int64
sympos_won               int64
extracurricular          int64
learning_style           Int64
college_bench            int64
clg_teachers_know        int64
college_performence      int64
college_skills           int64
ROLE                    object
dtype: object

In [17]:
new_df=df.drop("ROLE", axis=1)

# group the data by the "Group" column
groups = data.groupby("ROLE")

# loop through each group and save the data to a CSV file
for name, group in groups:
    filename = f"{name}.csv"
    group.to_csv(filename, index=False)

OSError: Cannot save file into a non-existent directory: 'UI'

In [20]:
new_df = new_df.dropna()
test=data.iloc[:49,:]
test_Y=test.iloc[:,25]
test_X=test.drop("ROLE", axis=1)
test_X
label_data=data.iloc[:49,:]
test_X

,sslc,hsc,cgpa,school_type,no_of_miniprojects,no_of_projects,coresub_skill,aptitude_skill,problemsolving_skill,programming_skill,...,ds_coding,technology_used,sympos_attend,sympos_won,extracurricular,learning_style,college_bench,clg_teachers_know,college_performence,college_skills
0,2,3,2,3,1,1,1,1,2,4,...,1,1,3,1,2,2,4,3,4,5
1,3,1,2,2,2,1,1,3,2,4,...,2,2,3,2,3,2,5,3,3,4
2,3,4,2,2,1,1,1,2,3,3,...,1,1,4,3,1,4,3,3,3,4
3,3,4,2,1,1,1,1,1,3,2,...,2,1,3,2,1,2,1,4,4,3
4,2,3,2,4,1,1,1,4,3,3,...,2,1,2,1,3,1,5,4,3,1
5,1,1,1,1,1,1,2,2,3,2,...,2,1,3,2,1,2,5,3,3,5
6,3,3,2,2,2,1,2,4,3,3,...,1,1,3,2,1,1,5,4,4,4
7,3,3,2,2,1,1,2,1,2,2,...,1,1,3,3,3,4,5,4,3,3
8,3,2,3,3,1,1,1,2,3,5,...,1,1,3,3,3,2,5,4,3,3
9,4,4,2,2,1,1,2,2,3,3,...,2,1,1,2,2,3,5,4,4,5
10,4,4,2,2,1,1,1,3,3,2,...,3,1,3,3,3,2,5,4,4,3
11,4,4,3,1,1,1,1,4,3,2,...,2,1,2,3,1,1,3,4,4,4
12,3,3,3,2,1,1,2,4,2,3,...,3,1,3,1,2,2,5,4,4,3
13,4,4,2,2,1,1,2,3,3,3,...,2,1,3,1,1,2,5,2,3,4
14,4,3,1,1,1,1,2,4,3,3,...,3,1,3,2,2,2,5,4,4,3
15,4,3,3,2,1,1,2,3,3,2,...,3,1,4,1,2,2,4,4,4,3
16,2,3,1,2,2,1,2,3,3,4,...,4,1,3,3,1,1,3,4,3,5
17,4,4,4,2,2,1,1,4,2,3,...,3,1,4,5,1,1,5,4,4,4
18,3,3,2,1,1,1,1,1,2,2,...,2,1,3,1,4,2,5,4,3,5
19,4,4,4,2,2,1,2,4,3,4,...,3,1,3,2,3,2,5,4,4,4
20,2,2,2,2,1,1,2,3,4,5,...,2,2,3,2,3,2,4,3,4,4
21,4,4,3,2,1,1,2,1,3,3,...,1,1,3,1,3,3,5,3,4,1
22,1,1,2,3,3,3,2,3,3,3,...,2,2,3,3,4,2,3,1,4,5
23,4,4,4,1,2,2,2,4,3,3,...,2,2,4,2,1,3,3,4,4,4
24,4,4,3,2,2,1,1,1,2,3,...,1,1,3,2,2,3,5,3,3,3
25,3,3,3,1,1,1,1,2,4,2,...,1,1,3,2,1,2,4,4,3,3
26,3,3,2,1,1,1,2,2,3,3,...,2,1,4,3,3,2,4,3,3,4
27,4,4,2,2,2,1,2,4,3,3,...,2,1,3,2,3,4,2,4,4,5
28,2,4,2,3,2,2,2,2,2,3,...,2,1,3,3,2,4,4,4,3,3
29,4,4,4,3,2,1,1,1,2,3,...,2,1,3,1,3,1,4,4,3,1
30,3,4,1,2,1,1,2,2,2,2,...,2,1,4,1,1,1,4,3,3,3
31,4,4,3,2,2,1,1,4,2,3,...,2,2,2,2,1,1,4,3,4,3
32,4,4,3,3,1,1,1,4,2,3,...,2,1,3,3,1,4,3,4,4,1
33,4,4,4,2,2,1,1,2,3,3,...,2,1,3,5,3,2,4,3,4,1
34,4,4,3,2,1,1,2,2,3,3,...,2,3,4,2,1,2,4,4,4,2
35,4,2,2,1,1,1,2,2,3,3,...,3,1,1,1,1,2,4,4,3,5
36,4,4,3,2,1,1,2,2,3,3,...,2,1,3,1,1,3,4,3,3,1
37,4,4,3,2,2,1,2,1,3,4,...,3,1,2,2,1,1,4,3,3,4
38,4,4,4,2,1,1,2,2,3,5,...,2,1,3,2,1,2,5,3,4,2
39,4,3,3,3,2,1,2,1,3,3,...,2,1,4,1,4,4,4,4,4,5
40,4,4,4,2,2,1,2,4,2,3,...,4,1,4,1,1,4,4,4,4,3
41,4,3,2,2,1,1,2,2,2,2,...,2,1,1,2,2,2,2,3,3,1
42,1,1,2,2,2,2,2,1,1,2,...,1,1,3,2,2,1,3,4,3,5
43,4,3,2,2,2,1,2,1,2,3,...,2,1,1,2,1,1,4,4,3,4
44,3,3,3,2,1,2,1,2,2,2,...,2,1,4,2,3,2,5,4,4,1
45,3,3,1,1,1,1,2,1,4,2,...,2,1,3,2,1,3,4,4,3,1
46,4,3,2,1,2,1,1,1,3,3,...,2,1,1,1,1,2,5,4,3,3
47,2,3,2,3,1,1,2,1,2,3,...,1,1,1,1,2,3,4,3,3,1
48,4,3,3,2,2,1,1,1,3,3,...,2,1,1,1,4,2,4,3,3,5

In [21]:
# Apply KMeans clustering to the scaled unlabeled data
kmeans = KMeans(n_clusters=8, random_state=42)
kmeans.fit(new_df)

C:\Users\Afnan Qasim\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(random_state=42)

In [22]:

import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
import pickle# Apply MinMax scaling on the numerical columns

# Initialize the scaler
scaler = MinMaxScaler()
test_X = scaler.fit_transform(new_df)
test_clusters = kmeans.predict(test_X)

# View the count of samples in each predicted cluster
print(pd.Series(test_clusters).value_counts())



# Apply MinMax scaling on the numerical columns
new_df = scaler.fit_transform(new_df)
# Save the scaler object as a pickle file
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

7    7523
dtype: int64

C:\Users\Afnan Qasim\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but KMeans was fitted with feature names
  warnings.warn(

In [23]:
value=df["ROLE"]

In [24]:
len(value.unique())

9