In [10]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
#from sklearn.preprocessing import PolynomialFeatures
import sklearn.linear_model as lm
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv("career_pred.csv")
df

,sslc,hsc,cgpa,school_type,no_of_miniprojects,no_of_projects,coresub_skill,aptitude_skill,problemsolving_skill,programming_skill,...,technology_used,sympos_attend,sympos_won,extracurricular,learning_style,college_bench,clg_teachers_know,college_performence,college_skills,ROLE
0,2,3,2,3,1,1,1,1,2,4,...,1,3,1,2,2,4,3,4,5,Technical Support
1,3,1,2,2,2,1,1,3,2,4,...,2,3,2,3,2,5,3,3,4,Software Developer
2,3,4,2,2,1,1,1,2,3,3,...,1,4,3,1,4,3,3,3,4,UI/UX Designer
3,3,4,2,1,1,1,1,1,3,2,...,1,3,2,1,2,1,4,4,3,Technical Support
4,2,3,2,4,1,1,1,4,3,3,...,1,2,1,3,1,5,4,3,1,Data Analyst
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7520,3,2,1,2,1,1,2,2,3,3,...,1,4,2,2,1,4,4,3,3,NaN
7521,2,3,3,3,4,3,2,1,3,3,...,4,2,3,2,4,1,3,3,2,NaN
7522,3,2,1,2,1,1,1,2,2,3,...,1,3,1,1,3,5,3,3,4,NaN
7523,2,1,1,1,2,1,1,2,2,2,...,1,3,2,1,2,4,4,3,4,NaN
7524,2,2,2,3,2,1,1,1,2,3,...,1,4,1,1,3,5,3,3,5,NaN

In [14]:
#filtering the data

def update_column(df, column, filter_value, replacement_value):
    filtered_df = df.loc[df[column] == filter_value]
    if not filtered_df.empty:
        df.loc[df[column] == filter_value, column] = replacement_value

        
update_column(df,'learning_style','high',4)

df.loc[1261,'learning_style']="4"
df.loc[3781,'learning_style']='4'
df['learning_style'].value_counts()

2    3197
1    1774
3    1428
4    1126
Name: learning_style, dtype: int64

In [35]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

data = df
# Separate the features (X) and the target variable (y)
X = data.drop('ROLE', axis=1)
X= X.iloc[:50,:]
X
y = data['ROLE']

# Encode the target variable to numerical values
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

# Create and train the logistic regression model
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

# Evaluate the model
accuracy = logreg.score(X_test, y_test)
print("Accuracy: {:.2f}%".format(accuracy * 100))

ValueError: Found input variables with inconsistent numbers of samples: [50, 7525]

In [53]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

# Separate the features (X) and the target variable (y)
X = df.drop('ROLE', axis=1).iloc[:50, :]
y = df['ROLE'].iloc[:50]

# Encode the target variable to numerical values
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

# Create and train the logistic regression model
logreg = LogisticRegression()
logreg.fit(X, y_encoded)

# Example row of data for prediction
row_index = 0
row_data = X.iloc[row_index, :]

# Reshape the row data into a 2D array
X_pred = row_data.values.reshape(1, -1)

# Make predictions on the new data
predicted_label = logreg.predict(X_pred)

# Convert the numerical label back to the corresponding string value
predicted_role = label_encoder.inverse_transform(predicted_label)

# Print the predicted role
print("Predicted Role:", predicted_role)

Predicted Role: ['Technical Support']

C:\Users\Afnan Qasim\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Afnan Qasim\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(